#grid-table {
  width: 1920px;
  height: 900px;
}

#title-container {
  display: flex;
  flex-direction: row;
}

#title-desc {
  margin-right: 15px;
}

#reset-all-bttn {
  display: block;
  margin: auto 0;
  height: 30px;
  cursor: pointer;
}